# For a local development, with a single task, this should be sufficient:
KAFKA_HEAP_OPTS="-Xms1g -Xmx2g"

# For a production use case, assuming ~15GB of RAM is allocated to KC container,  you may want to use something like this:
# KAFKA_HEAP_OPTS="-Xms8g -Xmx12g"

# Enable Prometheus JMX agent
#KAFKA_OPTS="-javaagent:/opt/extra-libs/jmx_prometheus_javaagent-1.0.1.jar=8080:/opt/extra-config/kafka-connect-jmx-config.yml"