# For a local development, with a single task, this should be sufficient:
KAFKA_HEAP_OPTS="-Xms1g -Xmx2g"

# For a production use case, assuming ~15GB of RAM is allocated to KC container,  you may want to use something like this:
# KAFKA_HEAP_OPTS="-Xms8g -Xmx12g"